<%- include('../header.ejs') %>
    <%- include('../aside.ejs') %>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <% if (chi_tiet_hoa_don && chi_tiet_hoa_don.length> 0) { %>
                <% chi_tiet_hoa_don.forEach(function (hoadon, index) { %>
                    <tr>
                        <!-- <td>
                            <%= index + 1 %>
                        </td> -->
                        <td>
                            <%= hoadon.chi_tiet_san_pham_id %>
                        </td>

                    </tr>
                    <% }); %>
                        <% } else { %>
                            <tr>
                                <td colspan="7">Không có dữ liệu</td>
                            </tr>
                            <% } %>
        </div>
        <!-- /.content-wrapper -->
        <%- include('../footer.ejs') %>