<%- include('../header.ejs') %>
    <%- include('../aside.ejs') %>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <div class="row">
                <!-- Button trigger modal -->
                <div class="col-md-6">
                    <a href="/admin/them_hoa_don" class="btn btn-outline-primary mt-2 mx-2">
                        Thêm hóa đơn
                    </a>
                </div>
                <div class="col-md-6 mt-2 ">
                    <form action="/admin/search_khachhang" id="combined-form" method="get" class="sidebar-form_1 mx-2">
                        <div class="input-group mb-3" style="width: 80%;">
                            <input type="text" name="name" class="form-control" placeholder="Nhập tên bạn muốn tìm kiếm"
                                aria-label="Recipient's username" aria-describedby="button-addon2">
                            <button class="btn btn-outline-secondary" type="submit" id="button-addon2"><i
                                    class="fa fa-search"></i></button>
                        </div>
                    </form>
                </div>
                <div class="col-md-6" style="display: none !important;">
                    <button type="button" class="btn btn-outline-primary mt-2 mx-2" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop">
                    </button>
                </div>
                <!-- Modal -->
                <div class="modal fade " id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Thêm hình ảnh giao hàng</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form method="POST" action="" class="row g-3 needs-validation"
                                    enctype="multipart/form-data" id="submitForm">
                                    <div class="col-md-6">
                                        <label for="validationCustom01" class="form-label">Hình ảnh giao hàng</label>
                                        <input type="file" name="hinh_anh5" class="form-control" id="validationCustom01"
                                            value="" required>
                                        <div class="invalid-feedback">
                                            Hãy thiêm hình ảnh giao hàng
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <button class="btn btn-primary" type="submit">Submit form</button>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Understood</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <table style="margin-top: 50px;"
                class="table table-PW table-striped table-hover table-borderless align-middle">
                <thead class="table-light">
                    <caption>Danh sách khách hàng</caption>
                    <tr>
                        <th>STT</th>
                        <th>Mã hóa đơn</th>
                        <th>Tên khách hàng</th>
                        <th>Ngày mua</th>
                        <th>Thanh toán</th>
                        <th>Phí ship</th>
                        <th>Tong tien</th>
                        <th>Trạng Thái</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <% if (data && data.length> 0) { %>
                        <% data.forEach(function (hoadon, index) { %>
                            <tr>
                                <td>
                                    <%= index + 1 %>
                                </td>
                                <td>

                                </td>
                                <td>
                                    <%= hoadon.ten_nguoi_mua %>
                                </td>
                                <td>
                                    <%= new Intl.DateTimeFormat('vi-VN').format(new Date(hoadon.ngay_tao)) %>
                                </td>
                                <td style="font-size: 13px;">
                                    <% if (hoadon.hinh_thuc_thanh_toan===1) { %>
                                        Thanh toán khi nhận hàng
                                        <% } else if (hoadon.hinh_thuc_thanh_toan===2) { %>
                                            Thanh toán bằng ngân hàng liên kết
                                            <% } else { %>
                                                Phương thức thanh toán không xác định
                                                <% } %>

                                </td>
                                <td>
                                    <%= hoadon.phi_van_chuyen %>
                                </td>
                                <td>
                                    <%= hoadon.tong_tien %>
                                </td>
                                <td>
                                    <% if (hoadon.trang_thai===1) { %>
                                        <button class="btn btn-outline-secondary btn-sm"> Chờ xác nhận</button>
                                        <% } else if (hoadon.trang_thai===2) { %>
                                            <button class="btn btn-outline-primary btn-sm">Đã xác nhận</button>
                                            <% } else if (hoadon.trang_thai===3) { %>
                                                <button class="btn btn-outline-warning btn-sm">Đang giao</button>
                                                <% } else if (hoadon.trang_thai===4) { %>
                                                    <button class="btn btn-outline-success btn-sm">Đã giao</button>
                                                    <% } %>

                                </td>
                                <td>
                                    <div class="d-flex ">
                                        <button class="btn btn-outline-secondary btn-sm mx-1 chuyenBtn"
                                            data-order-id="<%= hoadon.id %>">Chuyển</button>
                                        <a href="/admin/edit_hoa_don/<%= hoadon.id %>"
                                            class="btn btn-outline-success btn-sm mx-1"><i
                                                class="fa-solid fa-pen-to-square"></i></a>
                                        <a href="#" onclick="confirmDelete(`<%= hoadon.id %>`)"
                                            class="btn btn-outline-danger btn-sm mx-1"><i
                                                class="fa-solid fa-trash"></i></a>
                                        <a href="/admin/chi_tiet_hoa_don/<%= hoadon.id %>"
                                            class="btn btn-outline-info btn-sm mx-1"><i class="fa-solid fa-eye"></i></a>
                                    </div>

                                </td>
                            </tr>
                            <% }); %>
                                <% } else { %>
                                    <tr>
                                        <td colspan="7">Không có dữ liệu</td>
                                    </tr>
                                    <% } %>
                </tbody>
            </table>
        </div>

        <script>
            document.addEventListener('DOMContentLoaded', () => {
                const chuyenBtns = document.querySelectorAll('.chuyenBtn');
                chuyenBtns.forEach(btn => {
                    btn.addEventListener('click', async (event) => {
                        try {
                            const orderId = btn.dataset.orderId; // Lấy id của đơn hàng từ thuộc tính data
                            document.getElementById("submitForm").action = `/admin/hoan_thanh_gh/${orderId}`;
                            // Lấy trạng thái hiện tại của đơn hàng từ giao diện người dùng
                            const statusElement = document.querySelector(`[data-order-id="${orderId}"]`).closest('tr').querySelector('td:nth-child(8)');
                            const currentStatus = statusElement.textContent.trim();
                            console.log(currentStatus);

                            // Kiểm tra nếu trạng thái hiện tại là 'Đang giao' và nút đã được nhấn
                            if (currentStatus.includes('Đang giao') && btn.classList.contains('chuyenBtn')) {
                                // Gọi hàm click() để mở modal
                                const modalBtn = document.querySelector('[data-bs-toggle="modal"]');
                                modalBtn.click();
                            } else {
                                const confirmation = confirm('Bạn có chắc chắn muốn chuyển trạng thái không?');
                                if (!confirmation) {
                                    // Nếu người dùng không xác nhận, ngăn chặn hành động tiếp theo
                                    return;
                                }
                                // Nếu không phải trạng thái 'Đang giao', thực hiện cập nhật trạng thái thông thường
                                const response = await fetch('/admin/chuyen_trang_thai', {
                                    method: 'POST',
                                    headers: {
                                        'Content-Type': 'application/json'
                                    },
                                    body: JSON.stringify({ orderId: orderId }) // Truyền id của đơn hàng trong yêu cầu fetch
                                });

                                if (response.ok) {
                                    const newStatus = await response.text(); // Nhận trạng thái mới từ phản hồi
                                    // Cập nhật trạng thái của đơn hàng trên giao diện người dùng
                                    if (newStatus === '1') {
                                        statusElement.innerHTML = '<button class="btn btn-outline-Secondary btn-sm">Chờ xác nhận</button>';
                                    } else if (newStatus === '2') {
                                        statusElement.innerHTML = '<button class="btn btn-outline-primary btn-sm">Đã xác nhận</button>';
                                    } else if (newStatus === '3') {
                                        statusElement.innerHTML = '<button class="btn btn-outline-warning btn-sm">Đang giao</button>';
                                    } else if (newStatus === '4') {
                                        statusElement.innerHTML = '<button class="btn btn-outline-success btn-sm">Đã giao</button>';
                                    }
                                    console.log('Cập nhật trạng thái thành công');
                                } else {
                                    console.error('Có lỗi xảy ra khi cập nhật trạng thái');
                                }
                            }
                        } catch (error) {
                            console.error('Lỗi:', error);
                        }
                    });
                });
            });


        </script>

        <script>
            function confirmDelete(id) {
                if (confirm("Bạn có chắc chắn muốn xóa hóa đơn này?")) {
                    window.location.href = "/admin/xoa_hoa_don/" + id;
                } else {
                    // Không làm gì cả
                }
            }

        </script>

        <%- include('../footer.ejs') %>