<%- include('headerUser.ejs') %>
    <div class="container" style="margin-bottom: 150px">
        <table style="margin-top: 50px;" class="table table-PW table-striped table-hover table-borderless align-middle">
            <thead class="table-light">
                <caption>Danh sách sản phẩm có trong giỏ hàng </caption>
                <tr>
                    <th class="text-center">STT</th>
                    <th class="text-center">Hình ảnh</th>
                    <th>Sản phẩm</th>
                    <th>Mau sắc</th>
                    <th>Dung lượng</th>
                    <th>Số lượng</th>
                    <th>Giá</th>
                    <th>Chọn</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <% if (cartItems && cartItems.length> 0) { %>
                    <% cartItems.forEach(function (item, index) { %>
                        <tr>
                            <td>
                                <%= index + 1 %>
                            </td>
                            <td class="text-center">
                                <img style="width: 150px; height: 100px;" class="img-thumbnail"
                                    src="/imgUpload/<%= item.hinh_anh %>">
                            </td>
                            <td>
                                <%= item.ten_san_pham %>
                            </td>
                            <td>
                                <%= item.mau_sac %>
                            </td>
                            <td>
                                <%= item.dung_luong %>
                            </td>
                            <td>
                                <div>
                                    <button onclick="decreaseQuantity('<%= item.id %>')">-</button>
                                    <span id="so_luong_<%= item.id %>">
                                        <%= item.so_luong %>
                                    </span>
                                    <button onclick="increaseQuantity('<%= item.id %>')">+</button>
                                </div>

                            </td>
                            <td>
                                <%= item.gia_ban %>
                            </td>

                            <td>
                                <input type="checkbox" name="selectedProducts" value="<%= item.id %>">
                            </td>
                            <td>
                                <div class="d-flex ">
                                    <a href="/delete_cart/<%= item.id %>"
                                        class="btn btn-outline-danger btn-sm mx-1">Xóa</a>
                                </div>
                            </td>
                        </tr>
                        <% }); %>
                            <% } else { %>
                                <tr>
                                    <td colspan="7">Không có dữ liệu</td>
                                </tr>
                                <% } %>

            </tbody>
        </table>
        <div class="mt-5 d-flex justify-content-end">
            <button class="btn btn-primary" id="submitBtn">Mua Hàng</button>
        </div>
    </div>

    <form id="productForm" hidden action="/dat_hang_cart" method="POST">
        <input type="text" name="selectedProducts" id="selectedProducts" value="">
    </form>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Lắng nghe sự kiện khi người dùng nhấn vào nút "Đặt hàng"
            document.getElementById("submitBtn").addEventListener("click", function () {
                var selectedProducts = []; // Mảng chứa các ID của các sản phẩm đã chọn

                // Lặp qua tất cả các checkbox trong form
                var checkboxes = document.querySelectorAll('input[name="selectedProducts"]:checked');
                checkboxes.forEach(function (checkbox) {
                    // Nếu checkbox được chọn, thêm ID của sản phẩm tương ứng vào mảng
                    selectedProducts.push(checkbox.value);
                });

                // Gắn các ID của các sản phẩm đã chọn vào input hidden trong form
                var input = document.getElementById("selectedProducts");
                input.value = selectedProducts.join(',');

                // Submit form
                document.getElementById("productForm").submit();
            });
        });

    </script>

    <script>
        function decreaseQuantity(itemId) {
            var quantityElement = document.getElementById('so_luong_' + itemId);
            var currentQuantity = parseInt(quantityElement.innerText);
            if (currentQuantity > 1) {
                updateQuantity(itemId, currentQuantity - 1);
            }
        }

        function increaseQuantity(itemId) {
            var quantityElement = document.getElementById('so_luong_' + itemId);
            var currentQuantity = parseInt(quantityElement.innerText);
            updateQuantity(itemId, currentQuantity + 1);
        }

        function updateQuantity(itemId, newQuantity) {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    document.getElementById('so_luong_' + itemId).innerText = newQuantity;
                }
            };
            xhttp.open("POST", "/updateQuantity", true);
            xhttp.setRequestHeader("Content-type", "application/json");
            xhttp.send(JSON.stringify({ itemId: itemId, newQuantity: newQuantity }));
        }
    </script>

    <%- include('footerUser.ejs') %>