<%- include('headerUser.ejs') %>
    <div class="container" style="margin-top: 150px; margin-bottom: 150px">
        <table style="margin-top: 50px;" class="table table-PW table-striped table-hover table-borderless align-middle">
            <thead class="table-light">
                <caption>Danh sách sản phẩm có trong giỏ hàng </caption>
                <tr>
                    <th>STT</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <% if (cartItems && cartItems.length> 0) { %>
                    <% cartItems.forEach(function (item, index) { %>
                        <tr>
                            <td>
                                <%= index + 1 %>
                            </td>
                            <td>
                                <%= item.ten_san_pham %>
                            </td>
                            <td>
                                <%= item.mau_sac %>
                            </td>
                            <td>
                                <%= item.gia_ban %>
                            </td>
                            <td>
                                <%= item.so_luong %>
                            </td>
                            <td>
                                <input type="checkbox" name="selectedProducts" value="<%= item.id %>">
                            </td>
                            <td>
                                <div class="d-flex ">
                                    <a href="/admin/edit_nhanvien" class="btn btn-outline-success btn-sm mx-1">Sửa</a>
                                    <a href="/admin/delete_tinh" class="btn btn-outline-danger btn-sm mx-1">Xóa</a>
                                </div>
                            </td>
                        </tr>
                        <% }); %>
                            <% } else { %>
                                <tr>
                                    <td colspan="7">Không có dữ liệu</td>
                                </tr>
                                <% } %>

            </tbody>
        </table>

        <div class="row mt-5">
            <div class="col-lg-4">

            </div>
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <p>TỔNG TIỀN</p>
                <hr>
                <p>Tổng tiền:</p>
                <p id="tong_tien_thanh_toan"></p>

                <button class="btn btn-primary" id="submitBtn">ĐẶT HÀNG</button>
            </div>
        </div>
    </div>

    <script>
        // JavaScript code to handle getting selected product IDs and sending them to the server
        document.getElementById('submitBtn').addEventListener('click', function () {
            var selectedProducts = [];
            var checkboxes = document.getElementsByName('selectedProducts');
            checkboxes.forEach(function (checkbox) {
                if (checkbox.checked) {
                    selectedProducts.push(checkbox.value);
                }
            });

            // Now 'selectedProducts' array contains the IDs of the selected products
            // You can send this array to the server using AJAX
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/submit_selected_products', true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    // Request was successful
                    console.log(xhr.responseText); // Log the server response
                }
            };
            xhr.send(JSON.stringify({ selectedProducts: selectedProducts }));
        });

    </script>
    <%- include('footerUser.ejs') %>