<%- include('headerUser.ejs') %>

    <div class="container" style=" margin-bottom: 150px">
        <div class="row">
            <p class="title">
                <%= productDetail.ten_san_pham %>
                    <%= productDetail.gia_ban %>
                        <%= productDetail.chi_tiet_id %>
            </p>
            <div class="col-md-6">
                <div class="text-center">
                    <img style="width: 400px; margin-bottom: 50px;" src="/imgUpload/<%= productDetail.hinh_anh %>"
                        class="" alt="...">
                </div>
                <div class="text-center">
                    <a href="/add_to_cart/<%= productDetail.chi_tiet_id %>" class="btn btn-primary">Thêm với giỏ
                        hàng</a>
                    <button class="btn btn-success">Mua ngay</button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <% if (relatedDetails && relatedDetails.length> 0) { %>
                        <% relatedDetails.forEach(function (item, index) { %>
                            <a href="/chi_tiet_sp/<%= item.related_chi_tiet_id %>"
                                class="col-md-3 ds-sp <%= productDetail.chi_tiet_id === item.related_chi_tiet_id ? 'active' : '' %>">
                                <!-- <%= item.related_chi_tiet_id %> -->
                                <p style="margin-bottom: 0;">
                                    <%= item.ten_mau_sac %>
                                </p>
                                <p style="margin-bottom: 0;">
                                    <%= item.ten_dung_luong %>
                                </p>
                                <p style="margin-bottom: 0;">
                                    <%= item.gia_ban %>
                                </p>
                            </a>
                            <% }); %>
                                <% } else { %>
                                    <p colspan="7">Không có dữ liệu</p>
                                    <% } %>
                </div>
            </div>
        </div>
    </div>
    <%- include('footerUser.ejs') %>