<%- include('headerUser.ejs') %>
    <div class="banner owl-carousel owl-theme" style="padding: 0px;">

        <div class="slide" style="background-image: url('/img/slide2.png') !important; height: 400px;">
            <div class="slide-content">
                <h4 class="text-start "> </h4>
                <h4 class="text-start "> </h4>
            </div>
        </div>
        <div class="slide" style="background-image: url('img/slide1.png') !important;height: 400px;">
            <div class="slide-content">
                <h4 class="text-start "> </h4>
                <h4 class="text-start "> </h4>
            </div>
        </div>
        <div class="slide" style="background-image: url('img/slide3.png') !important;height: 400px;">
            <div class="slide-content">
                <h4 class="text-start "> </h4>
                <h4 class="text-start "> </h4>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="san_pham_noi_bat mt-5">
            <p class="text-center title"> Sản phẩm nổi bật</p>
            <div class=" san_pham_noi_bat_1 owl-carousel owl-theme mt-5">
                <div class="item">
                    <div class="card">
                        <img src="img/macbook.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">MacBook Air 13 inch M1 2020 7-core GPU</h5>
                            <div class="card-body d-flex p-0">
                                <p class="card-link">Ram 8GB</p>
                                <p class="card-link">SSD 128GB</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Giá: 20.000.000 vnd</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="card">
                        <img src="img/asuss.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">MacBook Air 13 inch M1 2020 7-core GPU</h5>
                            <div class="card-body d-flex p-0">
                                <p class="card-link">Ram 8GB</p>
                                <p class="card-link">SSD 128GB</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Giá: 20.000.000 vnd</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="card">
                        <img src="img/hp.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">MacBook Air 13 inch M1 2020 7-core GPU</h5>
                            <div class="card-body d-flex p-0">
                                <p class="card-link">Ram 8GB</p>
                                <p class="card-link">SSD 128GB</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Giá: 20.000.000 vnd</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="card">
                        <img src="img/mis.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">MacBook Air 13 inch M1 2020 7-core GPU</h5>
                            <div class="card-body d-flex p-0">
                                <p class="card-link">Ram 8GB</p>
                                <p class="card-link">SSD 128GB</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Giá: 20.000.000 vnd</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="card">
                        <img src="img/len.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">MacBook Air 13 inch M1 2020 7-core GPU</h5>
                            <div class="card-body d-flex p-0">
                                <p class="card-link">Ram 8GB</p>
                                <p class="card-link">SSD 128GB</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Giá: 20.000.000 vnd</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="card">
                        <img src="img/macbook.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">MacBook Air 13 inch M1 2020 7-core GPU</h5>
                            <div class="card-body d-flex p-0">
                                <p class="card-link">Ram 8GB</p>
                                <p class="card-link">SSD 128GB</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Giá: 20.000.000 vnd</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="hang_san_xuat text-center pt-3 ">
            <h3 class="pb-4 title2"> Hãng máy tính hàng đầu</h3>
            <a href="#" class="  "><img class="hangmaytinh" src="img/hp.png"></a>
            <a href="#" class=" mx-2 "><img class="hangmaytinh" src="img/lenovo.png"></a>
            <a href="#" class=" mx-2 "><img class="hangmaytinh" src="img/macbook.png"></a>
            <a href="#" class=" mx-2 "><img class="hangmaytinh" src="img/mis.png"></a>
            <a href="#" class=" mx-2 "><img class="hangmaytinh" src="img/dell.png"></a>
            <a href="#" class=" mx-2 "><img class="hangmaytinh" src="img/asus.png"></a>
            <a href="#" class=" mx-2 "><img class="hangmaytinh" src="img/acer.png"></a>
        </div>

        <div class="danh_sach_san_pham mt-5">
            <h3 class="mt-5" style="font-weight: 600;"> Danh sách sản phẩm </h3>
            <div class="row">
                <% if (data && data.length> 0) { %>
                    <% data.forEach(function (product, index) { %>
                        <div class="col-md-5 col-lg-3 mt-5">
                            <div class="card">
                                <a href="/chi_tiet_sp/<%= product.chi_tiet_id %>">
                                    <img src="imgUpload/<%= product.hinh_anh %>" class="card-img-top" alt="...">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title" style="font-weight: 600;">
                                        <%= product.ten_san_pham %>
                                    </h5>
                                    <div class="card-body d-flex p-0">
                                        <p class="card-link m-0">Dung lượng: <%= product.ten_dung_luong %>
                                        </p>
                                    </div>
                                    <p class="m-0">Màu: <%= product.ten_mau_sac %>
                                    </p>
                                    <p class="m0">Giá: <%= product.gia_ban %> vnd</p>

                                    <div class="text-center d-flex">
                                        <a href="/add_to_cart/<%= product.chi_tiet_id %>"
                                            class="btn btn-primary ms-4"><i class="fa-solid fa-cart-shopping"></i></a>
                                        <a href="/dat_hang/<%= product.chi_tiet_id %>" class="btn btn-success ms-5">Mua
                                            ngay</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% }); %>
                            <% } else { %>
                                <p colspan="7">Không có dữ liệu</p>
                                <% } %>
            </div>
            <div class="text-center mt-3">
                <a class="btn btn-outline-secondary btn-sm" href="/all_product">Xem thêm</a>
            </div>
            <div class="content mt-5">
                <h4 class="font-weight">Có thể bạn quan tâm</h4>
                <div class="content" id="content">
                    <!-- Hiển thị một đoạn văn bản -->
                    <p>Máy tính laptop là thiết bị công nghệ được rất nhiều người dùng yêu thích và chọn lựa nhờ vào
                        tính tiện lợi, đáp ứng tốt nhu cầu học tập, làm việc và giải trí của nhiều người dùng. Hiện nay,
                        các thương hiệu máy tính xách tay không ngừng cải tiến sản phẩm để mang lại một dòng laptop mini
                        giá rẻ mỏng nhẹ, có hiệu năng mạnh mẽ, thời lượng pin tốt đặc biệt là có một giá thành vô cùng
                        hợp lý. </p>
                    <p>Laptop (máy tính xách tay) - Phục vụ công việc, học tập, giải trí
                        Laptop mang thiết kế sang trọng, nhỏ gọn, tiện lợi cùng cấu hình mạnh mẽ, hiệu năng mượt mà nhằm
                        tạo trải nghiệm tốt. Với giá thành rẻ cùng nhiều ưu đãi vượt trội, máy tính xách tay trở thành
                        sự chọn lựa hoàn hảo của người dùng.

                        Ngày nay, laptop được thiết kế với nhiều tính năng, tiện ích đặc biệt, có thể xoay, gập và tách
                        rời nhằm đáp ứng nhiều nhu cầu sử dụng khác nhau của người dùng. Bên cạnh đó, máy tính xách tay
                        còn được trang bị màn hình cảm ứng giúp cho các thao tác sử dụng giống hệt máy tính bảng.

                        Bên cạnh đó, nhiều chiếc laptop Ultrabook được thiết kế với độ mỏng hơn, cấu hình mạnh hơn.
                        Không chỉ có độ nhỏ gọn, di động mà máy còn có độ phân giải cao nên rất thích hợp với doanh
                        nhân.</p>

                    <!-- Nút để hiển thị toàn bộ nội dung -->
                    <button id="showMoreBtn" class="btn btn-outline-secondary btn-sm" onclick="showMore()">Xem
                        thêm</button>

                    <!-- Nội dung đầy đủ ẩn đi ban đầu -->
                    <div id="fullContent" style="display:none;">
                        <!-- Toàn bộ nội dung dài -->
                        <p> <span class="font-weight">Lợi ích khi sử dụng laptop là gì? </span><br>
                            So với các sản phẩm điện tử hiện đại và tiện lợi khác, laptop nằm ở trong phân khúc giá cao
                            hơn. Tuy nhiên chúng vẫn thu hút được đông đảo người dùng lựa chọn để đồng hành trong công
                            việc và cuộc sống bởi chúng có những lợi ích nổi bật như sau:<br>

                            <span class="font-weight">Hệ điều hành tối ưu:</span> Hiện nay, các loại laptop được trang
                            bị hệ điều hành phù hợp, được tối
                            ưu hiệu quả. Cùng với cấu hình mạnh mẽ, được thiết kế ở nhiều mức độ khác nhau giúp người
                            dùng có thể xử lý mọi công việc.<br>

                            <span class="font-weight">Đầy đủ phụ kiện đi kèm:</span> Các dòng laptop được trang bị đầy
                            đủ bàn phím, chuột và các phụ kiện
                            tiện lợi nhằm mang lại sự thuận tiện, giúp công việc được hoàn thiện một cách nhanh chóng
                            hơn.<br>

                            <span class="font-weight"> Dễ dàng nâng cấp:</span> Khi sử dụng laptop, bạn có thể dễ dàng
                            sửa chữa, nâng cấp đơn giản nhằm
                            mang đến hiệu năng vượt trội, đáp ứng tốt quá trình sử dụng.<br>

                            <span class="font-weight">Lưu trữ được nhiều dữ liệu:</span> Các ổ cứng trên laptop thường
                            có dung lượng lớn, nhờ đó bạn có
                            thể lưu trữ được nhiều dữ liệu một cách nhanh chóng.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <%- include('footerUser.ejs') %>